<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>

<div class="athlete">
  <%= link_to 'New Athlete', new_athlete_path, class:"btn btn-info" %>
  <br/>
  <br/>
  <h1 id="athletes_section">Athletes</h1>
  <% if @sorted_athletes %>
    <% @sorted_athletes.each do |athlete| %>
      <h5><strong><%= athlete.name%></strong>: Voting
        <% if(athlete.votingOpen == true) %>
          Open
        <% else %>
          Closed
        <% end %>
      </h5>
      <%= form_with url: toggle_voting_path(athlete), method: :put, local: true do |form| %>
        <%= form.submit value: 'Open/Close Voting', id: 'voting', class: "btn btn-secondary" %>
      <% end %>
      <div class="things-in-a-line">
        <%= link_to 'Edit Athlete', edit_athlete_path(athlete), class: "btn btn-success" %>
        <%= form_with url: athlete_path(athlete), method: :delete, local: true do |form| %>
          <button type="submit" class="btn btn-danger">Delete</button>
        <% end %>
      </div>
      <br />
      <br />
    <% end %>
  <% end %>
</div>

<div class="results">
  <h1 id="results">Rankings</h1>
  <div class="things-in-a-line"
    <%= form_with url: publish_path, method: :put, local: true do |form| %>
      <%= form.submit value: 'Publish Results', class: "btn btn-success" %>
    <% end %>
    <br/>
    <%= form_with url: revert_results_path, method: :put, local: true do |form| %>
      <%= form.submit value: 'Revert Results', class: "btn btn-danger" %>
    <% end %>
  </div>
  <br/>

  <h3>Results List</h3>
  <% if @sorted_results %>
    <% position = 1 %>
    <% @sorted_results.each do |result| %>
      <% if result.valid_score == true %>
        <h5>
          No.
          <%= position %>
          <%= result.athlete.name %>
        </h5>
        <p>
          Score:
          <strong><%= result.score %>,</strong>
          Number of votes:
          <strong><%= result.number_of_votes %></strong>
          <% position += 1 %>
        </p>
      <% end %>
    <% end %>
  <% end %>

  <h3 id="insufficient_votes">Insufficient votes</h3>

  <% if @sorted_results %>
    <% @sorted_results.each do |result| %>
      <% if result.valid_score == false %>
        <h5><%= result.athlete.name %></h5>
        <p>
          Score:
          <strong><%= result.score %>,</strong>
          Number of votes:
          <strong><%= result.number_of_votes %></strong>
          <p/>
      <% end %>
    <% end %>
  <% end %>
</div>
